.contact {
  .contact__in-crisis {
    position: relative;
    background-image: url('../../assets/orange-gradient-mobile.svg');
    background-size: cover;
    background-position: bottom center;
    height: 300px;
    padding: 25px;
    padding-top: 110px;
  }
  .plus-signs {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('../../assets/plus-signs-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.2;
    width: 200px;
    height: 300px;
  }
  .contact__local-resource {
    padding: 32px 25px;
  }
  .button {
    width: 270px;
    height: 52px;
    background: $button-bg-color;
    border-radius: 100px;
    margin-top: 8px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    color: $secondary-font-color;
  }
  .button.small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 42px;
    font-size: 16px;
    line-height: 21px;
    &:first-of-type {
      margin-top: 30px;
    }
    &:not(:first-of-type) {
      margin-top: 12px;
    }
  }
  h2 {
    margin-bottom: 30px;
  }
  p {
    color: $font-color;
    margin-bottom: 20px;
    white-space: pre-line;
  }
  @include breakpoint('md') {
    .contact__in-crisis {
      background-image: url('../../assets/orange-gradient-desktop.svg');
      padding: 80px;
      min-height: 450px;
    }
    .plus-signs {
      width: 300px;
      height: 450px;
    }
    .contact__get-help {
      margin: 80px 80px 30px 80px;
      flex-direction: row;
      justify-content: space-between;
    }
    .contact__local-resource {
      padding: 35px 80px;
    }
    h2 {
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 20px;
    }
  }
}
