.download-app {
  min-height: calc(100vh - 275px);
  background-color: $button-bg-color;
  padding: 45px 25px 55px 25px;
  .download__button {
    width: 270px;
    padding: 10px;
    display: block;
    margin: 36px auto;
    border: none;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 700;
    font-family: Lato;
    color: $secondary-button-bg-color;
    cursor: pointer;
    text-align: center;
  }
  h1,
  p,
  button {
    color: $secondary-button-bg-color;
  }
  .download__content {
    text-align: center;
  }
  .download__title {
    color: #f9cc7d;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .download__button {
    margin-top: 100px;
    background: $tertiary-color;
  }

  @include breakpoint('xl') {
    position: relative;
    height: calc(100vh - 180px);
    .download__button {
      margin: 36px 0;
    }
    padding: 50px 70px;
    .download__title {
      color: $secondary-button-bg-color;
    }
    .download__button {
      background: $secondary-button-bg-color;
      color: $font-color;
    }
    .logo {
      display: none;
    }
    .plus-signs {
      width: 280px;
      height: 350px;
      position: absolute;
      top: 0;
      right: 30px;
      background-image: url('../../assets/plus-signs.svg');
      opacity: 0.1;
      background-size: cover;
    }
    .orange-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background-image: url('../../assets/orange-bg-download.svg');
      background-size: cover;
    }
    .phone {
      position: absolute;
      bottom: 40px;
      right: 50px;
      width: 350px;
      height: 460px;
      background-image: url('../../assets/phone.svg');
      background-size: cover;
    }
  }
  @include breakpoint('xl') {
    .orange-bg {
      height: 45%;
    }
  }
}
