.footer {
  color: $secondary-font-color;
  background-color: $primary-color;
  min-height: 175px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-family: Lato;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  .footer__disclaimer {
    padding: 15px 25px;
    font-size: 12px;
    border-bottom: 1px solid #535d71;
    width: 100%;
    @include breakpoint('md') {
      padding: 12px 90px;
    }
  }
  .footer__bottom {
    display: flex;
    padding: 0 25px 15px;
    width: 100%;
    div:last-child {
      padding-left: 25px;
    }
    @include breakpoint('md') {
      padding: 0 90px 15px;
    }
  }
  .footer__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__column {
    flex: 50%;
    flex-direction: column;
    @include breakpoint('md') {
      flex: initial;
    }
    &.mobile {
      display: block;
      @include breakpoint('md') {
        display: none;
      }
    }
    &.desktop {
      display: none;
      @include breakpoint('md') {
        display: block;
      }
    }
    .separator {
      margin: 0 5px;
    }
  }
  .footer__toolbar {
    flex-direction: column;
    align-items: flex-start;
    column-count: 2;
    padding: 10px 25px;
    @include breakpoint('md') {
      flex-direction: row;
      padding: 10px 90px;
    }
  }
  .footer__navlink {
    color: $secondary-font-color;
    font-family: Lato;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-bottom: 7px;
    margin-right: 15px;

    &.bottom {
      margin-right: 0;
    }

    @include breakpoint('md') {
      text-decoration: underline;
    }
    &:hover {
      text-decoration: none;
      color: $secondary-font-color;
    }
    &:focus {
      text-decoration: none;
      color: $secondary-font-color;
    }
    &.underlined {
      text-decoration: underline;
    }
  }
  @include breakpoint('md') {
    min-height: 100px;
    font-size: 1.2rem;
    justify-content: flex-start;
    .footer__navlink {
      font-size: 1.2rem;
    }
  }
}
