.rankingChoice {
  p {
    margin-bottom: 10px;
  }
  .cards {
    .card {
      min-height: 120px;
      width: 100%;
      display: flex;
      padding: 10px;
      margin-bottom: 5px;
      background: #fafafa;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 2px solid #fafafa;
      h5 {
        margin: 0;
      }
      .card__content {
        flex: 8;
        padding-right: 10px;
        .card__content__title {
          font-size: 1.6rem;
          line-height: 1.8rem;
          font-weight: 700;
        }
        .card__content__text {
          font-size: 1.4rem;
          line-height: 1.8rem;
          font-weight: 400;
        }
      }
      .card__buttons {
        flex: 2;
        visibility: hidden;
        button {
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin: 15px 10px;
          border: none;
          cursor: pointer;
          &:disabled {
            background-color: #b1b1b1;
            cursor: not-allowed;
          }
        }
        .card__button__up {
          background: $button-bg-color;
        }
        .card__button__down {
          border: 2px solid $button-bg-color;
          box-sizing: border-box;
        }
      }
    }
    .card.active {
      border: 2px solid $button-bg-color;
      .card__buttons {
        visibility: visible;
      }
    }
  }
}

.desktop-ranking {
  .dnd__card {
    width: 100%;
    min-height: 100px;
    display: flex;
    background-color: $primary-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: move;
    display: inline-flex;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 5px;

    .dnd__handler {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      width: 100px;
      background-color: #cceaec;
      color: #4db3b7;
      p {
        margin: 0;
        margin-bottom: 15px;
        color: #4db3b7;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
      }
    }

    .dnd__content {
      width: 100%;
      padding: 1rem;
      p {
        margin: 5px 0;
        color: #000000;
      }
      .dnd__content__title {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
      .dnd__content__text {
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 400;
      }
    }
  }
}

.ranking-summary {
  .review-text {
    margin-bottom: 50px;
  }
  .option {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}
