.sageForm {
  fieldset {
    border: 0;
    padding: 0;
    legend {
      display: none;
    }
    span {
      margin-left: 22px;
    }
  }
}

.quiz-wrapper {
  @include breakpoint('md') {
    background-color: $primary-bg-color;
    padding: 20px 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.text-step-wrapper {
  background: $primary-bg-color;
  @include breakpoint('md') {
    padding: 20px 25px;
  }
}

.radio {
  label {
    span {
      white-space: pre-line;
      display: flex;
      margin-bottom: 5px;
    }
  }
}

.quiz-radio-wrapper {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
}

.form-text-content {
  white-space: pre-line;
  margin-bottom: 30px;
}
