.topnav__title {
  padding-top: 11px;
  padding-left: 15px;
}
.topnav__content {
  flex-grow: 1;
  min-height: calc(100vh - 275px);
  @include breakpoint('md') {
    min-height: calc(100vh - 180px);
  }
}
.topnav__link {
  color: #2e2e2e;
  &:hover {
    text-decoration: none;
    color: #2e2e2e;
  }
}
.topnav__link--full {
  color: #2e2e2e;
  margin-left: 30px;
  padding-bottom: 7px;
  font-weight: 400;
  &:hover {
    text-decoration: none;
    color: #2e2e2e;
  }
  &:focus {
    text-decoration: none;
    color: #2e2e2e;
  }
}
.topnav__link--active {
  border-bottom: 4px solid #0084ff;
}
.topnav__button--full {
  white-space: nowrap;
  min-width: 100px;
  height: 37px;

  font-weight: bold;
  border: 2px solid;
  &:hover {
    border: 2px solid;
  }
}

.drawer {
  width: $drawerWidth;
  flex-shrink: 0;
}
.drawer__paper {
  width: $drawerWidth;
}
.drawer__close-button {
  width: 32px;
}
.drawer__close-icon {
  color: $font-color;
}
.drawer__header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: flex-end;
  height: 72px;
  margin-bottom: 10px;
  min-width: 160px;
}

.mobile-menu__item {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  font-style: normal;
  padding: 10px 0px 10px 40px;
  color: $font-color;
}
.mobile-menu__separator {
  height: 2px;
  margin: 20px 0px;
  background-color: $font-color;
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  color: #2e2e2e;
  background-color: white;
  min-height: 80px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
}

.menu__button {
  margin-right: 16px;
}
