.topnav__title {
  padding-top: 11px;
  padding-left: 15px;
  @include breakpoint('lg') {
    float: left;
  }
}
.topnav__content {
  flex-grow: 1;
  min-height: calc(100vh - 275px);
  @include breakpoint('md') {
    min-height: calc(100vh - 180px);
  }
}
.topnav__link {
  color: #2e2e2e;
  &:hover {
    text-decoration: none;
    color: #2e2e2e;
  }
}
.topnav__text {
  display: inline;
}
.topnav__link--full {
  color: #2e2e2e;
  margin-left: 30px;
  padding-bottom: 7px;
  font-weight: 400;
  &:hover {
    text-decoration: none;
    color: #2e2e2e;
  }
  &:focus {
    text-decoration: none;
    color: #2e2e2e;
  }
  &.logout {
    text-decoration: underline;
  }
  &.centered {
    font-weight: 700;
  }
  @include breakpoint('lg') {
    white-space: nowrap;
  }
}

.topnav__button--full {
  white-space: nowrap;
  min-width: 100px;
  height: 37px;

  font-weight: bold;
  border: 2px solid;
  &:hover {
    border: 2px solid;
  }
}

.drawer {
  width: $drawerWidth;
  flex-shrink: 0;
}
.drawer__paper {
  width: $drawerWidth;
}
.drawer__close-button {
  width: 32px;
}
.drawer__close-icon {
  color: $font-color;
}
.drawer__header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: flex-end;
  height: 72px;
  margin-bottom: 10px;
  min-width: 160px;
}

.mobile-menu__item {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
}
.mobile-menu__separator {
  &.MuiDivider-root {
    margin: 10px 0px;
  }
}

.tool-bar {
  display: flex;
  justify-content: space-between;
  color: #2e2e2e;
  background-color: $primary-bg-color;
  min-height: 65px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.15));
}

.menu__button {
  margin-right: 16px;
}

.topnav-center-section {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav-right-section {
  float: right;
}

.select-pdf {
  background-color: $primary-bg-color;
  &.MuiListItem-root.Mui-selected {
    background-color: $primary-bg-color;
  }
  .MuiSelect-select:focus {
    background-color: $primary-bg-color;
  }
  .MuiSelect-select.MuiSelect-select {
    padding-right: 0;
  }
}
