.disclaimer {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  @include breakpoint('md') {
    padding: 15px 75px;
  }
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  .disclaimer__text {
    font-size: 16px;
    font-style: italic;
    margin: auto 0;
  }
}
