.form-group {
  margin-bottom: 4.5rem;
  label {
    margin-bottom: 10px;
  }
}

.input--padded {
  padding: 15px 0 20px 0;
}

.buttons--action {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.buttons--vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  button {
    margin-bottom: 10px;
  }
}

.checkbox--nopad {
  .checkbox label {
    padding-left: 0;
  }
}

.checkbox--indented {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;

  p {
    margin: 0;
    padding-top: 9px;
  }
}

label.block--dark {
  font-weight: 700;
  line-height: 25px;
}

.error {
  color: #ff6d6d;
}
.modal-body {
  padding: 100px 50px;
}

.input--padded--flags {
  padding: 20px 0 40px 0;
  display: flex;
  .MuiTextField-root {
    height: 56px;
  }
}

.phone-flag {
  &.MuiOutlinedInput-root {
    border-radius: 0;
    right: -1px;
    height: 56px;
    div {
      margin-bottom: -2px;
    }
  }
}

.phone-input {
  .MuiOutlinedInput-root {
    border-radius: 0;
  }
}

.flag-icon {
  width: 25px;
}

.age-input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #343f56;
  box-sizing: border-box;
  padding: 14px;
  font-size: 14px;
  margin-bottom: 270px;
}
