@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

@import 'components/synapse_form_wrapper/synapse-form-wrapper';
@import 'components/synapse_form_wrapper/overrides';
@import 'components/intro';
@import 'components/dashboard';
@import 'components/footer';
@import 'components/static';
@import 'components/sage-form';
@import 'material-overrides';
@import 'forms';
@import 'components/ranking-choice';
@import 'components/topnav';
@import 'mobile' screen and (max-width: 768px);

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', Tahoma, Verdana, sans-serif;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

.print-only {
  display: none !important;
}

.MuiCardContent-root {
  h1:first-child,
  h2:first-child {
    margin-top: 2rem;
  }
}

p {
  color: black;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

a {
  color: #0085ff;
  text-decoration: none;
  cursor: pointer;
}

#root .margin-top-std {
  margin-top: 4rem;
}

#root .margin-bottom-std {
  margin-bottom: 4rem;
}

#root .wideButton {
  padding: 0px 45px;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  width: 100%;
}

.cookiesBanner {
  background: #0085ff;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-size: 15px;
  padding: 20px 20px;
  // stick to bottom
  position: fixed;
  bottom: 15px;
  z-index: 6;
  width: 100%;

  a {
    color: white;
  }
  button {
    height: 33px;
    margin-left: 10px;
  }
}

div.intro {
  background-color: #0084ff;
  color: #fff;
  font-size: 1.6em;
  line-height: 1.8rem;
  padding: 3.2rem 4rem;

  p,
  span {
    color: #fff;
  }

  h1:first-child,
  h2:first-child {
    margin-top: 4.8rem;
  }
}

// material ui "lab" component override is challenging: https://github.com/mui-org/material-ui/issues/19427
// overriding the style here:

#root .MuiAlert-filledError {
  border-radius: 0;
  background-color: #fc9090;
  color: #000000;
  padding: 20px 30px;
  border-bottom: 1px rgb(46, 46, 46) solid;
}
#root .MuiAlert-filledInfo {
  border-radius: 0;
  background-color: #0084ff;
  padding: 20px 30px;
  border-bottom: 1px rgb(46, 46, 46) solid;
}

// if a button is in a link, do not decorate the text on hover
#root a:hover > button {
  text-decoration: 'none';
}

.partialGreen {
  //background-image: url('../assets/dashboard/bg_rectangle_color.svg');
  //background-repeat: repeat-x;
}

button.btnVerticallySpaced,
div.btnVerticallySpaced {
  margin: 30px auto;
  @media (min-width: 961px) {
    margin: 35px auto;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}

.MuiButton-containedPrimary {
  color: white;
}

.media-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.error-message {
  color: red;
}

@media screen and (max-width: 480px) {
  .checkbox {
    span.MuiCheckbox-root {
      padding-top: 0;
      top: 5px;
    }
  }
}

.progressBarHeader {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

.progressBarWrapper {
  padding: 10px 0 40px 0;
  .MuiLinearProgress-colorPrimary {
    background-color: #eaebee;
    height: 10px;
    .MuiLinearProgress-barColorPrimary {
      background-color: #f5b33c;
      border-radius: 0px 10px 10px 0px;
    }
  }
}

ul {
  padding-top: 20px;
  padding-inline-start: 20px;
  li {
    list-style-type: none;
    padding-bottom: 20px;
  }
}

.headerWrapper {
  padding-bottom: 5px;
  width: 75%;
}

.arrowButtonsWrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.dashboardLink {
  text-decoration: underline;
  color: black;
}

.consentWrapper {
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
  input {
    margin-right: 18px;
  }
}

fieldset {
  border: 1px black solid;
  legend {
    padding: 8px 15px;
    text-align: center;
    border: 0;
    width: initial;
    font-size: 14px;
    line-height: 17px;
    margin: 5px 0;
  }
  input {
    border: 0;
    width: 90%;
    padding: 0px 10px 5px 10px;
    margin: 0 5% 15px 5%;
  }
}

.sageForm {
  fieldset {
    border: 0;
    legend {
      display: none;
    }
    span {
      margin-left: 22px;
    }
    input {
      width: inherit;
      margin-top: 6px;
    }
  }
}

.form-group {
  margin-bottom: 2rem;
}

.form-message {
  padding-top: 30px;
  display: flex;
  svg {
    margin-right: 10px;
  }
  &.error {
    color: #f36e68;
  }
}

.rejectionText {
  padding-bottom: 150px;
}

.text-left {
  text-align: left;
  &.padded {
    padding: 40px 0 10px 0;
  }
}

.input--padded--flags {
  padding: 20px 0 40px 0;
  display: flex;
}

.demoForm {
  padding-top: 15px;
}

.text-center {
  text-align: center;
}
