@import 'abstracts/variables', 'abstracts/mixins';

@import 'components/home';
@import 'components/dashboard';
@import 'components/footer';
@import 'components/sage-form';
@import 'material-overrides';
@import 'forms';
@import 'components/ranking-choice';
@import 'components/topnav';
@import 'components/download-app';
@import 'components/responsive-step';
@import 'components/contact';
@import 'components/about';
@import 'components/accordion';
@import 'components/research';
@import 'components/consent-info';
@import 'components/disclaimer';

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  background: #efefef;
}

.print-only {
  display: none !important;
}

.MuiCardContent-root {
  h1:first-child,
  h2:first-child {
    margin-top: 2rem;
  }
}

a {
  color: #4db3b7;
  text-decoration: none;
  cursor: pointer;
}

#root .margin-top-std {
  margin-top: 20px;
}

#root .wide-button {
  padding: 0px 45px;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.04em;
  width: 100%;
  text-transform: none;
  &.secondary {
    background-color: $primary-bg-color;
    color: $primary-color;
    border: 1px solid;
  }
}

// if a button is in a link, do not decorate the text on hover
#root a:hover > button {
  text-decoration: 'none';
}

button.btnVerticallySpaced,
div.btnVerticallySpaced {
  margin: 30px auto;
  @media (min-width: 961px) {
    margin: 35px auto;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}

.MuiButton-containedPrimary {
  color: $secondary-font-color;
}

.media-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

.error-message {
  color: #f36e68;
}

@media screen and (max-width: 480px) {
  .checkbox {
    span.MuiCheckbox-root {
      padding-top: 0;
      top: 5px;
    }
  }
}

.progressBarHeader {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

.progressBarWrapper {
  padding: 10px 0 25px 0;
  @include breakpoint('md') {
    padding: 10px 0 20px 0;
  }
  .MuiLinearProgress-colorPrimary {
    background-color: #eaebee;
    height: 10px;
    .MuiLinearProgress-barColorPrimary {
      background-color: $tertiary-color;
      border-radius: 0px 10px 10px 0px;
    }
  }
}

ul {
  margin: 0;
  padding-inline-start: 10px;
  li {
    list-style-type: none;
    padding-bottom: 10px;
    @include breakpoint('md') {
      padding-bottom: 20px;
    }
    &:last-child {
      padding-bottom: 20px;
    }
  }
}

.arrow-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  @include breakpoint('md') {
    padding: 100px 0 10px;
  }
}

.underlined-link {
  text-decoration: underline;
  color: black;
}

.login-wrapper {
  margin-top: 20px;
  padding: 0 10px;

  .loading-icon {
    position: absolute;
    left: calc(50% - 20px);
    margin-top: -70px;
    .centered {
      text-align: center;
      padding: 10px 0;
    }
  }
}

fieldset {
  border: 1px black solid;
  legend {
    padding: 8px 15px;
    text-align: center;
    border: 0;
    width: initial;
    font-size: 14px;
    line-height: 17px;
    margin: 5px 0;
  }
  input {
    border: 0;
    width: 90%;
    padding: 0px 10px 5px 10px;
    margin: 0 5%;
    font-size: 18px;
  }
}

.checkbox > label > span,
.radio > label > span {
  display: flex;
  margin-bottom: 30px;
  font-size: 1.6rem;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid black;
  padding: 6px;
  width: 20px;
  min-width: 20px;
  height: 20px;
  &:active,
  &:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
      inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  &:focus {
    outline: 0;
  }

  &:checked {
    background-color: $primary-bg-color;
    color: black;
    &:after {
      content: (url('../assets/checkmark.svg'));
      right: 3px;
      bottom: 9px;
      position: relative;
    }
  }
}
input[type='checkbox']#consented {
  &:checked {
    &:after {
      bottom: 5px;
    }
  }
}

input[type='radio'] {
  z-index: 60;
  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  &:checked + div.radio-button-label,
  &:not(:checked) + div.radio-button-label,
  &:checked + span,
  &:not(:checked) + span {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #000;
      border-radius: 100%;
      background: #fff;
    }
    &:after {
      content: '';
      width: 12px;
      height: 12px;
      background: $button-bg-color;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }

    &.correct-opt {
      &:after {
        background: #4db3b7;
      }
    }

    &.wrong-opt {
      &:after {
        background: #f36e68;
      }
    }
  }
  &:not(:checked) + div.radio-button-label:after,
  &:not(:checked) + span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  &:checked + div.radio-button-label:after,
  &:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.radio {
  > label {
    > span {
      @extend .quiz-radio-wrapper;
    }
  }

  &.correct {
    &:before {
      content: '';
      background: #e2f5f5;
      padding: 30px;
      width: calc(100% - 20px);
      position: absolute;
      left: 50%;
      right: 0;
      transform: translateX(-50%);
      margin-top: -19px;
      @include breakpoint('md') {
        width: 500px;
      }
    }
  }
}

.form-subtitle {
  margin: 20px 0;
}

.form-message {
  font-size: 1.6rem;
  margin-bottom: 20px;
  display: flex;
  svg {
    margin-right: 10px;
  }
  &.error {
    color: #f36e68;
  }
}

.text-left {
  text-align: left;
  &.padded {
    padding: 40px 0 10px 0;
  }
}

.text-center {
  text-align: center;
}

.MuiDrawer-paper {
  width: 90%;
}

.legislation-wrapper {
  background-color: $primary-bg-color;
  h2 {
    padding: 40px 0 25px;
  }
  padding: 20px;
  @include breakpoint('md') {
    background-color: #fcfcfc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.data-regulation-butterflies {
  left: 80%;
  position: relative;
}

// common consent styles
.header-wrapper {
  margin-bottom: 55px;
}

.icon-wrapper {
  margin-bottom: 20px;
  height: 90px;
}

.consent-instruction {
  margin-bottom: 40px;
}

.bottom-space {
  margin-bottom: 10px !important;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.consent-wrapper {
  display: flex;
  margin: 40px 0 20px;
  input {
    margin-right: 18px;
  }
}

.tp-20-neg {
  margin-top: -30px;
}
.tp-30-neg {
  margin-top: -30px;
}
.tp-40-neg {
  margin-top: -40px;
}
.tp-50-neg {
  margin-top: -50px;
}
.tp-70-neg {
  margin-top: -70px;
}

.btm-0 {
  margin-bottom: 0;
}
.btm-10 {
  margin-bottom: 10px;
}
.btm-20 {
  margin-bottom: 20px;
}
.btm-30 {
  margin-bottom: 30px;
}
.btm-40 {
  margin-bottom: 40px;
}
.btm-50 {
  margin-bottom: 50px;
}
.btm-60 {
  margin-bottom: 60px;
}
.btm-240 {
  margin-bottom: 240px;
}

.btm-custom-age-form {
  margin-bottom: 133px;
}

.ml-20 {
  margin-left: 20px;
}

//Eligibility
.eligibility-summary-line-container {
  display: flex;
  align-items: baseline;
}
.eligibility-summary-line {
  margin-bottom: 20px;
  cursor: pointer;
}

h6.eligibility-summary-line-title {
  margin-bottom: 0;
}

.chevron {
  margin-right: 8px;
  &.down {
    transform: rotate(90deg);
  }
}

.dropdown-select-language {
  background: #ffffff;

  box-sizing: border-box;

  &.MuiFormControl-root {
    border: 1px solid #343f56;
    padding: 5px 15px;
    width: 75%;
  }

  select.MuiNativeSelect-root.MuiNativeSelect-select.MuiInputBase-input.MuiInput-input {
    background-color: $primary-bg-color;
  }
}

.button-join-study {
  position: relative;
  z-index: 10;
}

.italic {
  font-style: italic;
}

.hide-input {
  opacity: 0.1;
  & + span {
    opacity: 0.15;
  }
}
